//RESET

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//HEADER

header{
  text-align: center;
  padding-top: 50px;

   nav{
    padding-top: 30px;
     ul{

       li{
         display: inline-block;
         font-weight: bold;
         font-size: 30px;
         padding: 15px 5px 15px 5px;

         &:hover{
           background-color: #B2E5FC;
         }
       }
     }
   }
}

// MAIN
main{
  background-color: #286782;
  width: 95%;
  border-radius: 15px;
  margin: 0 auto;
}
.container-product{
  width: 1700px;
  padding-top: 30px;
  margin: 0 auto;
}
// IMG RESIZE PASTA HOME
.img-resize{
  height: 300px;
}

.container-img{
  padding: 20px 10px 10px 20px;
}


//BODY LUNGHE

.lunghe{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  h2{
    margin: 30px;
    color: #002D75;
  }
}

//BODY CORTE

.corte{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  h2{
    margin: 30px;
    color: #002D75;
  }
}

//BODY CORTISSIME

.cortissime{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  h2{
    margin: 30px;
    color: #002D75;
  }
}
