* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding-top: 50px;
}
header nav {
  padding-top: 30px;
}
header nav ul li {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 5px 15px 5px;
}
header nav ul li:hover {
  background-color: #B2E5FC;
}

main {
  background-color: #286782;
  width: 95%;
  border-radius: 15px;
  margin: 0 auto;
}

.container-product {
  width: 1700px;
  padding-top: 30px;
  margin: 0 auto;
}

.img-resize {
  height: 300px;
}

.container-img {
  padding: 20px 10px 10px 20px;
}

.lunghe {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.lunghe h2 {
  margin: 30px;
  color: #002D75;
}

.corte {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.corte h2 {
  margin: 30px;
  color: #002D75;
}

.cortissime {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.cortissime h2 {
  margin: 30px;
  color: #002D75;
}
